/* 
 * to test postcss (postcss-import) plugin
 * this should import from ./node_modules/normalize.css/normalize.css
 */
@import "normalize.css"; 

.special {
  background: palevioletred;
  color: white;
}

/*
 * to test postcss (postcss-icss-values) plugin
 * this should return:
 *
 *  .superSpecial {
 *    color: white;
 *    background-color: blue;
 *  }
 *
 */
@value bgColor from './colors.css';

.superSpecial {
  composes: textColor from './colors.css';
  background-color: bgColor;
}
